@page
@model RegisterModel
@{
    ViewData["Title"] = "Novo Usuário";
}

<div class="container d-flex justify-content-center">
    <section id="divLogin" class="text-light bg-black">
        <h3 class="text-center pt-1"><i class="bi bi-person-fill-add"></i> Novo Usuário</h3>
        <h4 class="text-center pt-1 pb-4">Informe seu E-mail e Senha</h4>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p class="fw-bold">@error.ErrorMessage</p>
                    }
                    <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <div class="form-floating mb-3 text-black">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="text-area">E-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 text-black">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="text-area">Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 text-black">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword" class="text-area">Confirme a Senha</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-light my-4">Cadastrar</button>
        </form>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
