@using Biblioteca.Data
@using Biblioteca.Models
@inject ApplicationDbContext DbContext

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var userId = UserManager.GetUserId(User);
    var usuarioId = DbContext.Usuarios
        .Where(u => u.AppUserId.ToString() == userId)
        .Select(u => u.UsuarioId)
        .FirstOrDefault();

    <div class="d-flex align-items-center">
        <a class="text-light nav-link me-4"
           asp-controller="Usuarios"
           asp-action="Edit"
           asp-route-id="@usuarioId"
           title="Manage">
            Olá @User.Identity?.Name!
        </a>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn btn-outline-light me-4 fs-5">Sair</button>
        </form>
    </div>
}
else
{
    <div class="d-flex align-items-center">
        <a class="text-light nav-link me-4" asp-area="Identity" asp-page="/Account/Register">Cadastre-se</a>
        <a class="me-4 fs-5 btn btn-outline-light" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </div>
}